.grid
  .grid-item
    img(src='/demo-board-2/1.gif')
  .grid-item
    img(src='/demo-board-2/2.gif')
  .grid-item
    img(src='/demo-board-2/4.jpg')
  .grid-item
    img(src='/demo-board-2/5.jpg')
  .grid-item
    img(src='/demo-board-2/6.jpg')
  .grid-item
    img(src='/demo-board-2/7.jpg')
  .grid-item
    img(src='/demo-board-2/8.jpg')
  .grid-item
    img(src='/demo-board-2/9.jpg')
  .grid-item
    img(src='/demo-board-2/10.jpg')
  .grid-item
    img(src='/demo-board-2/11.jpeg')
  .grid-item
    img(src='/demo-board-2/12.jpg')
  .grid-item
    img(src='/demo-board-2/13.png')
  .grid-item
    img(src='/demo-board-2/14.jpg')
  .grid-item
    img(src='/demo-board-2/15.jpg')
