footer.footer
  - var ready = false
  if ready
    .footer__info
      ul.info__list
        li.list__item Boards
        li.list__item Blogs
        li.list__item Presentation tool
        li.list__item Playground
  else
    .footer__link
      a.link(
            href="/playground-demo"
            ) Playground Demo
