meta(charset='UTF-8')
//If IE use the latest rendering engine
meta(http-equiv='X-UA-Compatible' content='IE=edge')
//Set the page to the width of the device and set the zoom level
meta(
     name='viewport'
     content='width = device-width, initial-scale = 1'
    )

link(
     rel='stylesheet'
     type='text/css'
     href='/stylesheets/normalize.css'
    )

link(
    rel='stylesheet'
    type='text/css'
    href='/stylesheets/jquery.modal.min.css'
    )
    
link(
    rel='stylesheet'
    type='text/css'
    href='/stylesheets/jquery.sidr.bare.css'
    )

link(
    rel='stylesheet'
    type='text/css'
    href='/stylesheets/base.css'
    )

script(
      src='https://code.jquery.com/jquery-3.1.1.min.js'
      integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8='
      crossorigin='anonymous'
      )

script(
      src='http://code.jquery.com/ui/1.12.0/jquery-ui.min.js'
      integrity='sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E='
      crossorigin='anonymous'
      )

script(
      type='text/javascript'
      src='/javascripts/jquery.modal.min.js'
      )

script(
      type='text/javascript'
      src='/javascripts/header.js'
      )

script(
      type='text/javascript'
      src='/javascripts/modal-signup.js'
      )

script(
      type='text/javascript'
      src='/javascripts/modal-signin.js'
      )

if hamburger
  include ./scripts/menu__scripts.pug

if packery
  script(
        type='text/javascript'
        src='/javascripts/imagesloaded.min.js'
        )
  script(
        type='text/javascript'
        src='/javascripts/draggabilly.min.js'
        )
  // Packery
  include ./scripts/packery__scripts.pug

if neonType
  //Neon Type Scripts
  script(
        type='text/javascript'
        src='/javascripts/neon-type.js'
        )

if angular
  // Angular Libraries
  include ./scripts/angular__scripts.pug
