- var isLanding = true
.container
  //Header logo start
  .header__logo
    a(
      href='/'
      class='logo'
      )
      img.logo__svg(
        src='/svg/logotype__neon_resized.svg'
        alt='Moodbrd Logotype'
        )

  //Header search start
  .header__search
    .search
      form(
        action=''
        class='search__form'
        )
        input(
          name=''
          type='text'
          placeholder='#tags, @people, random stuff'
          class='search__input'
          )
        input(
          name=''
          type='submit'
          value=''
          class='search__submit'
          )

  //Header menu start
  .header__menu(
    *ngIf='!(isLoggedIn)'
    )
    ul.menu
      li.menu__item
        a#signIn.menu__button(
          href='#signinModal',
          rel='modal:open',
          '(click)'='showSignIn = true'
          ) Sign in
      li.menu__item
        a#signUp.menu__button(
          href='#signupModal',
          rel='modal:open',
          '(click)'='showSignUp = true;'
          ) Sign up

  //Header menu start
  .header__hamburger(
    '*ngIf'='isLoggedIn'
    )
    a#menuOpen.hamburger(href='#sidr')
      img.hamburger__svg(
        src='/svg/Icon_menu.svg'
        alt='Moodbrd hamburger menu'
        )

include ../users/modal-signin.pug
include ../users/modal-signup.pug
