section#neon.section
  .neon
    input.neon__input(
                      type='text'
                      name='neon'
                      placeholder='Type yours'
                      autofocus=''
                      )

.control.align-center
  .control__select
    span.select__text Select <br/> color
    input.select__input(
                        type='color'
                        name='color'
                        value='#531AFF'
                        )
