extends main-layout

block head
  base(href="/")
  - var angular = true
  - var packery = true
  - var hamburger = true
  include partials/head.pug
  title= title

block content
  moodbrd-app
    //- includes moodbrd-app via Angular

block foot
  include partials/footer.pug
