.wrapper
  header.header
    header-component
      //- includes landing-header via Angular

  main.page
    // profile-menu( *ngIf='showProfileMenu' )
    profile-menu-col( *ngIf='showProfileMenu' )
    include partials/board-2.pug
  .empty
