extends main-layout

block head
  - var neonType = true
  include partials/head.pug
  title= title

block content
  .wrapper
    - var isLanding = true
    include partials/header.pug
    main.page
      include partials/neon-type.pug
    .empty
block foot
  include partials/footer.pug
