extends main-layout

block head
  - var packery = true
  - var hamburger = true
  - var angular = true
  include partials/head.pug
  title= title

block content
  .wrapper
    header.header
      include partials/profile_header.pug
      include partials/profile__menu.pug
    main.page
      include partials/board-1.pug

    .empty
block foot
  include partials/footer.pug
