// Polyfill(s) for older browsers
script(
      type='text/javascript'
      src='scripts/core-js/client/shim.min.js'
      )

script(
      type='text/javascript'
      src='scripts/zone.js/dist/zone.js'
      )

script(
      type='text/javascript'
      src='scripts/systemjs/dist/system.src.js'
      )

script(
      type='text/javascript'
      src='config/systemjs.config.js'
      )

script System.import('app').catch(function(err){ console.error(err); });
