script(
      type='text/javascript'
      src='/javascripts/jquery.sidr.min.js'
    )

//-TODO: remove this since init with angular
script(
      type='text/javascript'
      src='/javascripts/menu-init.js'
      )
