script(
    type='text/javascript'
    src='/javascripts/packery.min.js'
    )

//- TODO: remove this script when moved to Angular
//-script(
      type='text/javascript'
      src='/javascripts/packery-init.js'
      )
