.border-box,
.border-box:before,
.border-box:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
==============================================
Fonts Installation
==============================================
*/
@font-face {
  font-family: 'Raleway-Regular';
  src: url(../fonts/Raleway-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-SemiBold';
  src: url(../fonts/Raleway-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Neon';
  src: url('../fonts/LasEnter_PersonalUse.ttf');
}
/*
==============================================
Variables
==============================================
*/
/*
==============================================
Mixins
==============================================
*/
.display-flex {
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
html {
  width: 100%;
  height: 100%;
}
body {
  background: transparent;
  width: 100%;
  height: 100%;
  font-family: 'Raleway-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}
.empty {
  height: 48px;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
p {
  padding: 0;
  margin: 0;
}
a {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}
a:visited {
  color: #000000;
}
a:hover {
  color: #06cd89;
}
button,
input,
optgroup,
select,
textarea {
  font-family: 'Raleway-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
button {
  background-color: transparent;
  border: none;
}
input:focus,
button:focus,
form:focus,
a:focus {
  outline: none;
}
* {
  box-sizing: border-box;
}
.page {
  width: 100%;
  margin: auto;
}
#sidr {
  display: none;
}
.header {
  height: 8%;
  padding: 1% 1% .3% 1%;
  background-color: #f4efeb;
}
.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/* ---------- logo block ----------*/
.header__logo {
  width: 20%;
}
.logo,
.logo__svg {
  display: inline-block;
}
.logo__svg {
  max-width: 190px;
  max-height: 52px;
}
/* ---------- search block ----------*/
.header__search {
  width: 60%;
}
.search {
  position: relative;
  width: 44%;
  margin: auto;
}
.search__input {
  display: block;
  width: 100%;
  padding: .8em 1em .8em 2.5em;
  border: none;
  -webkit-border-radius: 2em;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2em;
  -moz-background-clip: padding;
  border-radius: 2em;
  background-clip: padding-box;
}
.search__input::-webkit-input-placeholder {
  color: #cfcfcf;
}
.search__input:-moz-placeholder {
  color: #cfcfcf;
}
.search__input::-moz-placeholder {
  color: #cfcfcf;
}
.search__input:-ms-input-placeholder {
  color: #cfcfcf;
}
.search__submit {
  background-image: url('../svg/Icon_Search.svg');
  width: 18px;
  display: block;
  margin: auto;
  border: none;
  position: absolute;
  height: 18px;
  top: 0;
  bottom: 0;
  left: 13px;
  right: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}
/* ---------- menu block ----------*/
.header__menu {
  width: 20%;
}
.header__menu .menu {
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.menu__item {
  font-size: 1.1em;
  font-family: 'Raleway-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #000000;
}
.menu__item:not(:last-child) {
  padding-right: 2em;
}
.menu__button {
  color: #000000;
}
.menu__button:hover {
  color: #06cd89;
}
/* ---------- hamburger block ----------*/
.hamburger__svg {
  width: 2.2em;
}
/* --------- Overall modals ----------*/
.jquery-modal.blocker {
  background-color: rgba(255, 255, 255, 0.8);
}
.modal {
  background: transparent;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  text-align: center;
}
.modal__logo {
  margin-bottom: .8em;
}
.modal__redirect {
  margin-bottom: .5em;
}
.modal__form input:not(.button) {
  border: none;
  background: transparent;
  width: 22em;
  border-bottom: 2px solid #000000;
  padding-top: 1.7em;
  padding-bottom: .3em;
}
.modal__form input:not(.button)::-webkit-input-placeholder {
  color: #000000;
}
.modal__form input:not(.button):-moz-placeholder {
  color: #000000;
}
.modal__form input:not(.button)::-moz-placeholder {
  color: #000000;
}
.modal__form input:not(.button):-ms-input-placeholder {
  color: #000000;
}
.modal__form input:not(.button):focus {
  border-bottom: 2px solid #06cd89;
}
.modal__form fieldset {
  border: none;
}
.redirect__text {
  margin-right: .5em;
}
.redirect__link {
  color: #868686;
}
.form__button {
  margin-top: 2em;
}
.form__button .button {
  background-color: #06cd89;
  border: none;
  -webkit-border-radius: 1.5em;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 1.5em;
  -moz-background-clip: padding;
  border-radius: 1.5em;
  background-clip: padding-box;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Raleway-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: .8em 2em;
  text-decoration: none;
}
.form__button .button[ng-reflect-disabled] {
  background-color: #a6e2ce;
}
.button:hover {
  background-color: #40f9ba;
}
/* --------- Styles for Signup form ----------*/
.signup__form:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.signup__form .form__name {
  display: inline-block;
  margin-right: 2em;
}
.signup__form .form__name input {
  width: 10em;
}
.signup__form .form__username {
  display: inline-block;
}
.signup__form .form__username input {
  width: 10em;
}
.slide-menu {
  background-color: rgba(255, 255, 255, 0.9);
  border-left: 1px solid #000000;
}
/* ---------- button block ----------*/
.button__container {
  background-color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  width: 2.8em;
  height: 2.8em;
  position: relative;
}
.button__svg {
  position: absolute;
  width: 60%;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
/* ---------- profile block ----------*/
.header__profile-img {
  width: 7.5em;
  height: 7.5em;
  overflow: hidden;
  position: relative;
  margin: auto;
  -webkit-border-radius: 5em;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5em;
  -moz-background-clip: padding;
  border-radius: 5em;
  background-clip: padding-box;
  border: 1px solid #000000;
}
.profile-img {
  width: 4em;
  position: absolute;
  height: 4em;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.header__name {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: .8em;
  margin-bottom: .8em;
  font-family: 'Raleway-SemiBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* ---------- menu block ----------*/
.slide-menu__navigation {
  height: 3.4em;
  background-color: #06cd89;
  border-top: 1px dashed #000000;
  border-bottom: 1px dashed #000000;
}
.slide-menu__navigation .navigation__link {
  display: inline-block;
}
.slide-menu__navigation .navigation {
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}
.slide-menu__navigation .navigation__item {
  width: 2em;
  height: 2em;
}
.slide-menu__navigation .navigation__image {
  height: 2em;
}
/* ---------- list block ----------*/
.slide-menu__list .item__link {
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}
.slide-menu__list .list__item {
  height: 3.4em;
  padding: 0 1.4em;
  border-bottom: 1px dashed #000000;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.slide-menu__list .list__item_add-new {
  color: #868686;
}
.slide-menu__list .item__icon {
  width: 1.3em;
  height: 1.3em;
  margin-right: .6em;
}
.slide-menu__list .delete__image {
  height: 1em;
  margin-left: 2em;
}
.slide-menu__list .list__image {
  height: 1.3em;
}
/* ---------- footer block ----------*/
.slide-menu__footer {
  background-color: #e7e7e7;
  position: fixed;
  bottom: 0;
  height: 3em;
  width: 260px;
}
.expanded .slide-menu__footer {
  width: 30%;
}
.foot-menu {
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: 260px;
}
.foot-menu .item__link {
  display: inline-block;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}
.foot-menu .item__icon {
  width: 1.3em;
  height: 1.3em;
  margin-right: .6em;
}
.foot-menu .list__image {
  height: 1.3em;
}
/* ----------- Local Mixin ------------ */
.align-center {
  text-align: center;
}
section {
  width: 100%;
  height: 87vh;
}
section#neon {
  background: #d677b3;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #d677b3 0%, #d130b0 23%, #a0247b 47%, #7f1d68 67%, #6a1853 83%, #491137 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #d677b3 0%, #d130b0 23%, #a0247b 47%, #7f1d68 67%, #6a1853 83%, #491137 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #d677b3 0%, #d130b0 23%, #a0247b 47%, #7f1d68 67%, #6a1853 83%, #491137 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d677b3', endColorstr='#491137', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.neon {
  position: absolute;
  height: 280px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.neon__input {
  display: block;
  width: 100%;
  background-color: transparent;
  color: #ffffff;
  cursor: auto;
  padding: 0;
  margin: auto;
  border: none;
  text-shadow: 1px 1px 8px rgba(255, 0, 102, 0.48), -1px -1px 8px rgba(255, 0, 102, 0.48), 1px -1px 8px rgba(255, 0, 102, 0.48), -1px 1px 8px rgba(255, 0, 102, 0.48);
  z-index: 5;
  font-family: 'Neon';
  font-size: 7em;
  line-height: 1.2em;
  text-align: center;
}
.neon__input:focus {
  outline: none;
}
.neon__input::-webkit-input-placeholder {
  color: #ffffff;
}
.neon__input:-moz-placeholder {
  color: #ffffff;
}
.neon__input::-moz-placeholder {
  color: #ffffff;
}
.neon__input:-ms-input-placeholder {
  color: #ffffff;
}
/* ---------- control block ----------*/
.control {
  position: absolute;
  margin: 1.6em 1.6em auto auto;
  bottom: 8%;
  right: 0;
  width: 100px;
  height: 100px;
  background-color: rgba(230, 230, 230, 0.4);
}
.control__select {
  position: absolute;
  height: 80px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80px;
  margin: auto;
  background: #1b1d23;
}
.select__text {
  display: inline-block;
  font-family: 'Inconsolata', 'Lucida Console', monospace;
  line-height: 1.2em;
  font-size: 14px;
  color: #b7b7b7;
  padding-top: 7px;
}
.select__input {
  position: absolute;
  bottom: 6px;
  right: 0;
  left: 0;
  margin: auto;
  -webkit-appearance: square-button;
  width: 46px;
  height: 28px;
  background-color: transparent;
  border: none;
  padding: 1px 2px;
}
/* ---------- Packery CSS ----------*/
.grid-item {
  width: 20em;
  height: auto;
  overflow: hidden;
  cursor: move;
}
.grid-item img {
  width: 20em;
}
.footer {
  height: 3em;
  margin-top: -3em;
  background-color: #f4efeb;
  position: relative;
}
.footer__info {
  height: 100%;
}
.info__list {
  height: 100%;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/* ---------- link block ----------*/
.footer__link {
  text-align: center;
  padding-top: 1em;
}
.modal.modal_add-post {
  max-width: none;
  width: 60%;
}
.modal__type-select {
  width: 100%;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.type-select {
  padding: 0 2em;
}
.type-select__image img {
  width: 15em;
}
.sidr {
  width: 260px;
  max-width: 650px;
  -webkit-transition: all 0.2s ease !important;
  -moz-transition: all 0.2s ease !important;
  -ms-transition: all 0.2s ease !important;
  -o-transition: all 0.2s ease !important;
  transition: all 0.2s ease !important;
}
.sidr.right {
  right: -260px;
}
.sidr.left {
  left: -260px;
}
.sidr.expanded {
  width: 30%;
  -webkit-transition: all 0.2s ease !important;
  -moz-transition: all 0.2s ease !important;
  -ms-transition: all 0.2s ease !important;
  -o-transition: all 0.2s ease !important;
  transition: all 0.2s ease !important;
}
