.modal.modal_add-post {
  max-width: none;
  width: 60%;
}
.modal__type-select {
    width: 100%;
    .display-flex;
    .justify-content( center );
    .align-items( center );
}

.type-select {
  padding: 0 2em;
}

.type-select__image img {
  width: 15em;
}
