/**
This stylesheet overrides styles from menu.less
 */

.slide-menu-col {
  background-color: @transparent-white;
}

/* ---------- back button block ----------*/
.slide-menu-col__back-button {
  .button__container {
    background-color: transparent;
    width: .85em;
    height: .85em;
  }

  .button__svg {
    width: 100%;
  }
}

/* ---------- profile block ----------*/
.slide-menu-col {
  .header__profile-img, .setting__profile-img {
    width: 3.125em;
    height: 3.125em;
    margin-top: 4.063em;

    .border-radius(3.2em);
  }

  .profile-img {
    width: 3.25em;
  }
}

/* ---------- menu block ----------*/

.slide-menu-col__navigation {
  .display-flex;
  .justify-content(space-around);
  .align-items(center);
  .flex-direction(column);

  .navigation__item {
    margin-top: 2.813em;

    &:first-child {
      margin-top: 2.375em;
    }
  }

  .navigation__link {
    display: inline-block;
    width: 2.375em;
    height: 2.375em;
    position: relative;

    .border-radius(2.375em);

    &:hover, &.pressed {
      background-color: @white;
      .box-shadow(0 5px 20px 0px rgba(1, 1, 1, 0.1));
      .transition(background-color, 0.05s ease);
    }
  }

  .navigation__image {
    width: 1em;
    max-height: 1em;
    .align-both-directions;
  }

  .setting.slide-menu__item.center {
    text-align: center;
  }
}


/* ---------- footer block ----------*/

.slide-menu-col__footer {
  background-color: @grey;
  position: fixed;
  bottom: 0;
  height: 3em;
  width: @sidebar-col-width;

  .foot-menu {
    width: @sidebar-col-width - 20px;
    .display-flex;
    .justify-content(space-around);
    .align-items(center);
    height: 100%;
    margin: 0 auto;
  }

  .foot-menu__item:last-child {
    .item__icon {
      margin-right: 0;
    }
  }

  .foot-menu .item__icon {
    width: 1em;
    height: 1em;
  }

  .foot-menu .list__image {
    width: 1em;
    max-height: 1em;
  }
}

.expanded .slide-menu-col__footer {
  width: @expanded-sidebar-width;
}




