/* ---------- Form validation visual feed back ----------*/

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid @confirm-green; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid @confirm-red; /* red */
}


/* ---------- Fixings for input type file ----------*/

.input-file {
  position: relative;
  height: 100%;
  width: auto;
  opacity: 0;
  -moz-opacity: 0;
}
