/*
==============================================
Fonts Installation
==============================================
*/
@font-face {
  font-family: 'Raleway-Regular';
  src: url(../fonts/Raleway-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-SemiBold';
  src: url(../fonts/Raleway-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Neon';
  src: url('../fonts/LasEnter_PersonalUse.ttf');
}

/*
==============================================
Variables
==============================================
*/

//Layout

//Color variables
@black: #000000;
@white: #ffffff;
@brand-green: #06cd89;
@brand-green-disabled: #a6e2ce;
@beige: #f4efeb;

@confirm-green: #42A948;
@confirm-green-transparent: rgba(66, 169, 72, 0.14);
@confirm-red:  #a94442;
@grey: #e7e7e7;
@darker-grey: #868686;
@dark-grey: #525252;
@lightgrey: lightgrey;

@text-light-grey: #cfcfcf;
@transparent-beige: rgba(215, 192, 163, 0.5);
@transparent-black: rgba(0, 0, 0, 0.8);
@transparent-white: rgba(255, 255, 255, 0.9);

@transparent-grey: rgba(230, 230, 230, 0.4);

// Colors variables - programing colors
@progdark: #1b1d23;
@progblue: #3dadc2;
@progmagenta: #805bd7;
@progorange: #d19a66;
@progpink: #ea6bda;
@progbrgreen: #6bea83;
@programmer-bg: #1b1d23;

@bryellow: #ffd429;
@callblue: #0070c9;
@lighttechblue: rgba(0, 173, 251, 1);
@rose: #fcf4f5;

@neon-violet: rgba(255, 0, 102, 0.48);
@brand-red: #ba212e;

//Font size variables
//Typography variables
@body-text: 'Raleway-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@body-text-bolder: 'Raleway-SemiBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@neon-type-font: 'Neon';
@monospace: 'Inconsolata', 'Lucida Console', monospace;

//Layout variables

@sidebar-width: 260px;
@sidebar-width-neg: -260px;
@max-sidebar-width: 650px;
@expanded-sidebar-width: 30%;

@sidebar-col-width: 80px;
@sidebar-col-width-neg: -80px;

/*
==============================================
Mixins
==============================================
*/

.display-flex {
  display: flex;
  .flex-wrap(wrap);
}

.icon-background-image(){
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}

.absolute(@height, @bottom: 0, @right: 0,  @top: 0, @left: 0){
  position: absolute;
  height: @height;
  top:    @top;
  bottom: @bottom;
  left:   @left;
  right:  @right;
}

.align-both-directions() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.default-transition {
  .transition(all, 500ms, cubic-bezier(0.315, 0.130, 0.290, 0.655));
}
.default-button-size {
  width: 9em;
  padding: .75em 1.5em;
  cursor: pointer;
  &:not(:last-child) {
    margin-right: 1.5em;
  }
}

.solid-blk-button {
  background: @black;
  color: @white;
  border: 2px solid @black;
  font-weight: bold;

  &:hover {
    background: lighten(@black, 20%);
    border-color: lighten(@black, 20%);
  }

  &[disabled] {
    background: lighten(@black, 20%);
  }
}

.faded-grey-button {
  background: @grey;
  color: @darker-grey;
  border: 2px solid @grey;

  &:hover {
    background: darken(@grey, 10%);
    border-color: darken(@grey, 10%);
    color: black;
  }
}

/* ---------- Form validation visual feed back mixins ----------*/

.requiredMx() {
  &.ng-valid[required], .ng-valid.required  {
    border-left: 2px solid #42A948; /* green */
  }
}

.validMx() {
  &.ng-invalid:not(form)  {
    border-left: 2px solid #a94442; /* red */
  }
}
