.footer {
  height: 3em;
  margin-top: -3em;
  // border-top: 1px solid @black;
  background-color: @beige;
  position: relative;
}

.footer__info {
  height: 100%;
}

.info__list {
  height: 100%;
  .display-flex;
  .justify-content( center );
  .align-items( center );
}


/* ---------- link block ----------*/

.footer__link {
  text-align: center;
  padding-top: 1em;
}
