.header {
  height: 8%;
  padding: 1% 1% .3% 1%;
  background-color: @beige;
  // border-bottom: 1px solid @black;
}

.container {
  width: 100%;
  margin: 0 auto;
  .display-flex;
  .justify-content( space-between );
  .align-items( center );
}

/* ---------- logo block ----------*/

.header__logo {
  width: 20%;
}

.logo, .logo__svg {
  display: inline-block;
}

.logo__svg {
  max-width: 190px;
  max-height: 52px;
}


/* ---------- search block ----------*/

.header__search {
  width: 60%;
}

.search {
  position: relative;
  width: 44%;
  margin: auto;
}

.search__input {
  display: block;
  width: 100%;
  padding: .8em 1em .8em 2.5em;

  // border: 1px solid @black;
  border: none;
  .border-radius(2em);
  .placeholder( #cfcfcf );

}


.search__submit {

  background-image: url('../svg/Icon_Search.svg');
  width:  18px;
  display: block;
  margin: auto;
  border: none;

  .absolute(18px, 0, auto, 0, 13px);

  .icon-background-image;
}


/* ---------- menu block ----------*/

.header__menu {
  width: 20%;
}

.header__menu .menu {
  .display-flex;
  .justify-content( flex-end );
  .align-items( center );
}

.menu__item {
  &:not(:last-child){
    padding-right: 2em;
  }

  font-size: 1.1em;
  font-family: @body-text;
  color: @black;
}

.menu__button {
  color: @black;

  &:hover {
    color: @brand-green;
  }

}

/* ---------- hamburger block ----------*/

.hamburger__svg {
  width: 2.2em;
}
