html {
  width: 100%;
  height: 100%;
}

body {
  background: transparent;
  width: 100%;
  height: 100%;
  font-family: @body-text;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

//to protect content from going under the footer
.empty {
  height: 48px;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

p {
  padding: 0;
  margin: 0;
}

a {
  color: @black;
  text-decoration: none;
  cursor: pointer;
  &:visited {
    color: @black;
  }
  &:hover {
    color: @brand-green;
  }
}

button, input, optgroup, select, textarea {
  font-family: @body-text;
}

button {
  background-color: transparent;
  border: none;
}

input, button, form, a {
  &:focus {
    outline: none;
  }
}


* {
  box-sizing: border-box;
}

.page {
  width: 100%;
  margin: auto;
}

#sidr {
  display: none;
}
