.slide-menu {
  background-color: @transparent-white;
  border-left: 1px solid @black;
}

/* ---------- children flex boxes  ----------*/
.slide-menu__item:not(.list):not(.center) {
  .display-flex;
  .justify-content( space-around );
  .align-items( center );
  height: 100%;

  &.left {
    .display-flex;
    .justify-content( flex-start );
    .align-items(flex-end);
  }
}


/* ---------- button block ----------*/

.button__container {
  background-color: @transparent-black;
  display: inline-block;
  width: 2.8em;
  height: 2.8em;
  position: relative;
}

.button__svg {
  position: absolute;
  width: 60%;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* ---------- profile block ----------*/

.header__profile-img, .setting__profile-img {
  width: 7.5em;
  height: 7.5em;
  overflow: hidden;
  position: relative;
  margin: auto;

  .border-radius(5em);
  //border: 1px solid @black;
  text-align: center;
  background-color: @darker-grey;
}

.profile-img {
  width: 7.6em;
  margin: auto;
}

.header__name {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: .8em;
  margin-bottom: .8em;

  font-family: @body-text-bolder;

}

/* ---------- menu block ----------*/

.slide-menu__navigation {
  height: 3.4em;
  background-color: @brand-green;
  border-top: 1px dashed @black;
  border-bottom: 1px dashed @black;

  .navigation__link {
    display: inline-block;
  }
}

.slide-menu__navigation .navigation__item {
  width: 2em;
  height: 2em;
}

.slide-menu__navigation .navigation {
  .display-flex;
  .justify-content( space-around );
  .align-items( center );
  height: 100%
}


.slide-menu__navigation .navigation__image {
  height: 2em;
}

.setting.slide-menu__item.center {
  text-align: center;
}

/* ---------- list block ----------*/

.slide-menu__list {
  .item__link {
    .display-flex;
    .justify-content( flex-start );
    .align-items( center );
    height: 100%;
  }

  .list__item {
    height: 3.4em;
    padding: 0 1.4em;
    border-bottom: 1px dashed @black;
    .display-flex;
    .justify-content( flex-start );
    .align-items( center );
  }

  .list__item_add-new {
    color: @darker-grey;
  }

  .item__icon {
    width: 1.3em;
    height: 1.3em;
    margin-right: .6em;
  }

  .delete__image {
    height: 1em;
    margin-left: 2em;
  }

  .list__image {
    height: 1.3em;
  }

}

/* ---------- settings block ----------*/

.setting h3 {
  font-size: .9em;
  margin: auto;
}

.setting__label {
  width: 40%;
  padding: 0 2rem;
}

.setting__data {
  width: 60%;
  border-bottom: 1px dashed @lightgrey;

  input.data__edit {
    border: none;
    .validMx;
    .requiredMx;

    background-color: transparent;
    width: 100%;
    display: block;
  }
}

/* ---------- profile-image section  ----------*/
.profile-img__container {
  .setting__data {
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .setting__label {
    width: 100%;
    padding: 0;
    height: 1.5em;;

    display: block;
    overflow: visible;
    cursor: pointer;
  }
}


/* ---------- end profile-image section  ----------*/

.left {
  .setting__data, .setting__label {
    padding-top: 1.5em;
    padding-bottom: 0.25em;
  }
}

h2.slide-menu__item {
  padding: 0 2rem;
  color: @darker-grey;
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: 0.08em;
  margin: 2em auto 0 auto;
}

.slide-menu__buttons { //encapsulate buttons
  margin-top: 2em;
  padding: 0 2rem;
  position: absolute;
  //TODO: work on literal value
  width: 570px;
  bottom: 5em;

  input, button {
    .default-button-size;
    text-align: center;
    display: inline-block;
  }

  .buttons__save {
    .solid-blk-button;
  }

  .buttons__cancel {
    .faded-grey-button;
  }
}

/* ---------- confirmation message  ----------*/
.confirmation__txt {
  margin: 2rem;
  margin-top: 3.5rem;
  padding: .5em;
  font-size: 1em;
  display: inline-block;
  border: 1px solid @confirm-green;
  background-color: @confirm-green-transparent;
  .border-radius(10px);
  width: 18em;
  font-weight: normal;
  color: @dark-grey;
}
/* ---------- footer block ----------*/

.slide-menu__footer {
  background-color: @grey;
  position: fixed;
  bottom: 0;
  height: 3em;
  width: @sidebar-width;
}

.expanded .slide-menu__footer {
  width: @expanded-sidebar-width;
}

.foot-menu {
  width: @sidebar-width;
  .display-flex;
  .justify-content( space-around );
  .align-items( center );
  height: 100%;

  .item__link {
    .display-flex;
    .justify-content( space-around );
    .align-items( center );
    height: 100%;
  }
}


.foot-menu .item__icon {
  width: 1.3em;
  height: 1.3em;
  margin-right: .6em;
}

.foot-menu .list__image {
  height: 1.3em;
}


