.border-box,
.border-box:before,
.border-box:after {
	-moz-box-sizing:    border-box;
	-webkit-box-sizing: border-box;
	box-sizing:         border-box;
}

.transition (@transition) {
	-webkit-transition: @transition;
	-moz-transition:    @transition;
	-ms-transition:     @transition;
	-o-transition:      @transition;
	transition:    		  @transition;
}

.transition2 (@transition1, @transition2) {
	-webkit-transition: @transition1, @transition2;
	-moz-transition:    @transition1, @transition2;
	-ms-transition:     @transition1, @transition2;
	-o-transition:      @transition1, @transition2;
	transition:    		  @transition1, @transition2;
}

.transition3 (@transition1, @transition2, @transition3) {
	-webkit-transition: @transition1, @transition2, @transition3;
	-moz-transition:    @transition1, @transition2, @transition3;
	-ms-transition:     @transition1, @transition2, @transition3;
	-o-transition:      @transition1, @transition2, @transition3;
	transition:    		  @transition1, @transition2, @transition3;
}

.transform(@string) {
	-webkit-transform: @string;
	-moz-transform: 	 @string;
	-ms-transform: 		 @string;
	-o-transform: 		 @string;
	transform: 				 @string;
}

.scale (@x, @y: 1.0) {
	-webkit-transform: scale(@x, @y);
	-moz-transform: 	 scale(@x, @y);
	-ms-transform: 		 scale(@x, @y);
	-o-transform: 		 scale(@x, @y);
  transform: 				 scale(@x, @y);
}

.rotate (@deg) {
	-webkit-transform: rotate(@deg);
	-moz-transform: 	 rotate(@deg);
	-ms-transform: 		 rotate(@deg);
	-o-transform: 		 rotate(@deg);
  transform: 				 rotate(@deg);
}

.skew (@deg, @deg2) {
	-webkit-transform: skew(@deg, @deg2);
	-moz-transform: 	 skew(@deg, @deg2);
	-ms-transform: 		 skew(@deg, @deg2);
	-o-transform: 		 skew(@deg, @deg2);
  transform: 				 skew(@deg, @deg2);
}

.translate (@x, @y:0) {
	-webkit-transform:	translate(@x, @y);
	-moz-transform:			translate(@x, @y);
	-ms-transform:			translate(@x, @y);
	-o-transform:				translate(@x, @y);
  transform:					translate(@x, @y);
}

.translate3d (@x, @y: 0, @z: 0) {
	-webkit-transform:	translate3d(@x, @y, @z);
	-moz-transform:			translate3d(@x, @y, @z);
	-ms-transform:			translate3d(@x, @y, @z);
	-o-transform:				translate3d(@x, @y, @z);
  transform:					translate3d(@x, @y, @z);
}

.perspective (@value: 1000) {
	-webkit-perspective: 	@value;
	-moz-perspective:    	@value;
	-ms-perspective:     	@value;
	perspective:         	@value;
}

.transform-origin (@x:center, @y:center) {
	-webkit-transform-origin: @x @y;
	-moz-transform-origin:    @x @y;
	-ms-transform-origin:     @x @y;
	-o-transform-origin:      @x @y;
  transform-origin:    		  @x @y;
}
