/* --------- Overall modals ----------*/

.jquery-modal.blocker {
  background-color: rgba(255,255,255,0.8);
}

.modal {
  background: transparent;
  .border-radius(0);

  -webkit-box-shadow: none;
  -moz-box-shadow:    none;
  -o-box-shadow:      none;
  -ms-box-shadow:     none;
  box-shadow:         none;

  text-align: center;
}

.modal__logo {
  margin-bottom: .8em;
}

.modal__redirect {
  margin-bottom: .5em;
}

.modal__form input:not(.button) {
  border: none;
  background: transparent;
  .placeholder( @black );

  width: 22em;
  border-bottom: 2px solid @black;
  padding-top:  1.7em;
  padding-bottom: .3em;

  &:focus {
    border-bottom: 2px solid @brand-green;
  }
}

.modal__form fieldset {
  border: none;
}

.redirect__text {
  margin-right: .5em;
}

.redirect__link {
  color: @darker-grey;
}

.form__button {
  margin-top: 2em;
}

.form__button .button {
	background-color: @brand-green;
  border: none;
  .border-radius(1.5em);

	display:inline-block;
	cursor:pointer;

	color: @white;
	font-family: @body-text;

	padding: .8em 2em;
	text-decoration:none;

  &[ng-reflect-disabled] {
  	background-color: @brand-green-disabled;
  }
}



 .button:hover {
	background-color: lighten(@brand-green, 20%);
}

/* --------- Styles for Signup form ----------*/

.signup__form {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

  .form__name {
    display: inline-block;
    margin-right: 2em;

    input {
      width: 10em;
    }
  }

  .form__username {
    display: inline-block;

    input {
      width: 10em;
    }
  }
}
