/* ----------- Local Mixin ------------ */

.textShadow(@color-stroke: @neon-violet, @blur:8px ) {
  text-shadow:
    1px 1px   @blur @color-stroke,
    -1px -1px @blur @color-stroke,
    1px -1px  @blur @color-stroke,
    -1px 1px  @blur @color-stroke;
}

.align-center {
  text-align: center;
}

section {
  width: 100%;
  height: 87vh;

  &#neon {
    background: #d677b3; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #d677b3 0%, #d130b0 23%, #a0247b 47%, #7f1d68 67%, #6a1853 83%, #491137 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #d677b3 0%,#d130b0 23%,#a0247b 47%,#7f1d68 67%,#6a1853 83%,#491137 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #d677b3 0%,#d130b0 23%,#a0247b 47%,#7f1d68 67%,#6a1853 83%,#491137 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d677b3', endColorstr='#491137',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
}

.neon {
  .absolute(280px);
  margin: auto;
}

.neon__input {
  display: block;
  width: 100%;
  background-color: transparent;
  color: @white;

  cursor: auto;
  padding: 0;
  margin: auto;
  border: none;
  .textShadow;

  z-index: 5;
  &:focus {
    outline: none;
  }
  .placeholder( #ffffff );

  font-family: @neon-type-font;
  font-size: 7em;
  line-height: 1.2em;
  text-align: center;
}


/* ---------- control block ----------*/

.control {
  position: absolute;
  margin: 1.6em 1.6em auto auto;
  bottom: 8%;
  right: 0;
  width: 100px;
  height: 100px;
  background-color: @transparent-grey;
}

.control__select {
  .absolute(80px);
  width: 80px;
  margin: auto;

  background: @programmer-bg;
}

.select__text {
  display: inline-block;
  font-family: @monospace;
  line-height: 1.2em;
  font-size: 14px;
  color: #b7b7b7;
  padding-top: 7px;
}

.select__input {
  position: absolute;
  bottom: 6px;
  right: 0;
  left: 0;
  margin: auto;

  -webkit-appearance: square-button;
  width: 46px;
  height: 28px;
  background-color: transparent;
  border: none;
  padding: 1px 2px;
}
