.sidr {
  width: @sidebar-width;
  max-width: @max-sidebar-width;
  .transition(all 0.2s ease) !important;

  &.right {
    right: @sidebar-width-neg;
  }

  &.left {
    left: @sidebar-width-neg;
  }

  &.expanded {
    width: @expanded-sidebar-width;
   .transition(all 0.2s ease) !important;

  }

  // styles for sidr for collapsed menu
  &.slide-menu-col:not(.expanded) {
    width: @sidebar-col-width;

    &.right {
      right: @sidebar-col-width-neg;
    }

    &.left {
      left: @sidebar-col-width-neg;
    }
  }
}
