form(
  id='signinForm',
  name='signin',
  class='form',
  role='form',
  '(ngSubmit)'='onSubmit()',
  '#loginForm'='ngForm'
  )

  fieldset
    div.form__email
      //label(for='userEmail' class='email__label') Email:
      input(
        name='userEmail',
        type='email',
        class='email',
        id='signinEmail',
        placeholder='Email Address',
        autofocus='',
        required,
        '[(ngModel)]'='model.email'
        )
    //End of entry field

    div.form__password
      //label(for='userPassword' class='password__label') Password:
      input(
        name='password',
        type='password',
        class='password',
        id='signinPassword',
        placeholder='Password',
        required,
        '[(ngModel)]'='model.password'
        )
    //End of entry field

    div.form__button
      input(
        type='submit',
        name='submit',
        class='button',
        value='Welcome back',
        '[disabled]'='!loginForm.form.valid'
        )
