.modal#signinModal( *ngIf='showSignIn')
  .modal__logo
    .logo
    img.logo__svg(
      src='/svg/logotype__neon_resized.svg'
      alt='Moodbrd Logotype'
      )

  .modal__redirect
    .redirect
      span.redirect__text Don't have an account yet?
      a(
        href='/users/modal-signup/'
        rel='modal:open'
        class='redirect__link'
        ) Sign up for free.

  .modal__form
    .signin
      landing-login
