.modal#signupModal( *ngIf='showSignUp')
  .modal__logo
    .logo
    img.logo__svg(
      src='/svg/logotype__neon_resized.svg'
      alt='Moodbrd Logotype'
      )

  .modal__intro
    .intro Sign up for free
  .modal__redirect
    .redirect
      span.redirect__text Already have an account?
      a(
        href='/users/modal-signin/'
        rel='modal:open'
        class='redirect__link'
        ) Sign in.

  .modal__form
    .signup
      landing-register
