form.slide-menu__settings(
      name='profile-form',
      class='form',
      role='form',
      '(ngSubmit)'='onSubmit()',
      '#profileForm'='ngForm'
      )

  .setting.slide-menu__item.center.profile-img__container
    .setting__profile-img
      img.profile-img(
        src='{{tempImgSrc}}'
        alt='Current Profile picture'
        )
    .setting__data
      label.setting__label
        h3.label__txt Change Profile Image
        input.data__edit.input-file(
          type="file",
          name="profileImage",
          '(change)'='previewFile($event)'
          )

  .setting.slide-menu__item.left
    label.setting__label
      h3.label__text Name
    .setting__data
      input.data__edit(
            type="text"
            name="name"
            value='{{user.name}}'
            '[(ngModel)]'='user.name'
            required
            )
  .setting.slide-menu__item.left
    label.setting__label
      h3.label__text Username
    .setting__data
      input.data__edit(
            type="text"
            name="username"
            value='{{user.username}}'
            '[(ngModel)]'='user.username'
            required
            )
  .setting.slide-menu__item.left
    label.setting__label
      h3.label__text Website link
    .setting__data
      input.data__edit(
            type="text"
            name="personalWebsite"
            value='{{user.personalWebsite}}'
            '[(ngModel)]'='user.personalWebsite'
            )
  .setting.slide-menu__item.left
    label.setting__label
      h3.label__text Bio
    .setting__data
      input.data__edit(
            type="text"
            name="bio"
            value='{{user.bio}}'
            '[(ngModel)]'='user.bio'
            )
  .setting.slide-menu__item.left
    label.setting__label
      h3.label__text Allow comments
    .setting__data
      select.data__edit(
          name="allowCommentsFor"
          '[(ngModel)]'='user.allowCommentsFor'
          )
        option(
              value = '{{allowCommentsFor[0]}}'
              ) {{allowCommentsFor[0]}}
        option(
              value = '{{allowCommentsFor[1]}}'
              ) {{allowCommentsFor[1]}}
        option(
              value = '{{allowCommentsFor[2]}}'
              ) {{allowCommentsFor[2]}}


  h2.slide-menu__item.left Private Information

  .setting.slide-menu__item.left
    label.setting__label
      h3.label__text Email
    .setting__data
      input.data__edit(
            type="text"
            name="email"
            value='{{user.email}}'
            '[(ngModel)]'='user.email'
            required
            )

  .slide-menu__buttons
    input(
        type='submit',
        name='submit',
        class='buttons__save',
        value='Save',
        '[disabled]'='!profileForm.form.valid'
        )
    button(
          type='button',
          class='buttons__cancel',
          '(click)'='cancelWindow();'
          ) Cancel

  .confirmation(*ngIf='showConfirmation')
    h2.confirmation__txt Perfecto! Your profile's updated.

