#sidr.slide-menu
  a#menuClose.slide-menu__back-button('(click)'='collapseSidebar()')
    .button__container
      img.button__svg(
        src='/svg/Icon_Arrow_Back.svg'
        alt='Back Navigation Arrow'
        )
  .profile-view(*ngIf='showProfileView')
    header.slide-menu__header
      .header__profile-img
        img.profile-img(
          src='{{user.profileImage}}'
          alt='Profile picture'
          )
      .header__name
        .name {{user.name}}

    nav.slide-menu__navigation
      ul.navigation
        li.navigation__item
          a.navigation__link(href='')
            img.navigation__image(
              src='/svg/Icon_Feed.svg'
              alt='User Feed Icon'
              )
        li.navigation__item
          a.navigation__link(href='')
            img.navigation__image(
              src='/svg/Icon_new_post.svg'
              alt='New post button__svg'
              )
        li.navigation__item
          a.navigation__link(href='')
            img.navigation__image(
              src='/svg/Icon_Activity.svg'
              alt='Activity Button'
              )
        li.navigation__item
          a.navigation__link(href='')
            img.navigation__image(
              src='/svg/Icon_Personal_page.svg'
              alt='Personal Page'
              )

    post-list(*ngIf='showPostList')
  profile-settings(
    '*ngIf'='showProfileSettings',
    '(onCancel)'='onCancel($event)'
    )

  .slide-menu__footer
    ul.foot-menu
      li.foot-menu__item
        a.item__link(
          '(click)'='toggleSidebar();'
          )
          span.item__icon
            img.list__image(
              src='/svg/Icon_Settings.svg'
              alt='Settings button icon'
              )
          span.item__text Settings
      li.foot-menu__item
        a.item__link(
          href='',
          '(click)'='logout()'
          )
          span.item__icon
            img.list__image(
              src='/svg/Icon_sign_out.svg'
              alt='Sign-out button icon'
              )
          span.item__text Sign out
