#sidr.slide-menu-col
  a#menuClose.slide-menu-col__back-button('(click)'='collapseSidebar()')
    .button__container
      img.button__svg(
      src='/svg/Icon_collapse_triangle.svg'
      alt='Back Navigation Button'
      )
  .profile-view(*ngIf='showProfileView')
    header.slide-menu-col__header
      .header__profile-img
        img.profile-img(
        src='{{user.profileImage}}'
        alt='Profile picture'
        )

    nav.slide-menu-col__navigation
      ul.navigation
        li.navigation__item
          a.navigation__link(
            [class.pressed]='(currentId == 1)'
            '(click)'= 'currentId = 1'
            )
            img.navigation__image(
            src='/svg/Icon_Feed.svg'
            alt='User Feed Icon'
            )
        li.navigation__item
          a.navigation__link(
            [class.pressed]='(currentId == 2)'
            '(click)'= 'currentId = 2'
            )
            img.navigation__image(
            src='/svg/Icon_new_post.svg'
            alt='New post button'
            )
        li.navigation__item
          a.navigation__link(
            [class.pressed]='(currentId == 3)'
            '(click)'= 'currentId = 3'
            )
            img.navigation__image(
              src='/svg/Icon_Activity_Flash.svg'
              alt='Activity Button'
              )
        li.navigation__item
          a.navigation__link(
            [class.pressed]='(currentId == 4)'
            '(click)'= 'toggleSidebar(4);'
            )
            img.navigation__image(
              src='/svg/Icon_Levels.svg'
              alt='Settings'
              )

  profile-settings(
  '*ngIf'='showProfileSettings',
  '(onCancel)'='onCancel($event)'
  )

  .slide-menu-col__footer
    ul.foot-menu
      li.foot-menu__item
        a.item__link
          span.item__icon
            img.list__image(
            src='/svg/Icon_Info.svg'
            alt='Information Button'
            )
      li.foot-menu__item
        a.item__link(
        '(click)'='logout()'
        )
          span.item__icon
            img.list__image(
            src='/svg/Icon_sign_out.svg'
            alt='Sign-out button icon'
            )
