.modal.modal_add-post#addPost( *ngIf='showAddPost')
  .modal__logo
    .logo
    img.logo__svg(
      src='/svg/logotype__neon_resized.svg'
      alt='Moodbrd Logotype'
      )

  .modal__title
    h2.title Select type

  .modal__type-select
    .type-select.type-select_board
      .type-select__image
        img.board__image(src='/images/boards.png')
      .type-select__button
        button.board__button(
          id='createBoard',
          '(click)'='createBoard( this.user )'
          ) Create board

    .type-select.type-select_post
      .type-select__image
        img.post__image(src='/images/posts.png')
      .type-select__button
        button.post__button(
          id='createPost',
          '(click)'='createPost( this.user )'
          ) Create post
