.slide-menu__list
  ul.list
    li.list__item.list__item_add-new
      a.item__link(
        href='#addPost',
        rel='modal:open',
        '(click)'='showAddPost = true;'
        )
        span.item__icon
          img.list__image(
            src='/svg/Icon_new_post_grey.svg'
            alt='Create New Board'
            )
        span.item__text Create New
    li.list__item(
      '*ngFor'='let post of posts'
    )
      a.item__link(href='')
        span.item__icon
        span.item__text {{post.title}}
      a.item__delete('(click)'='deletePost(post)')
        img.delete__image(
          src='/svg/delete-button.svg'
          )

include ./add-post_modal.pug
