form(
  id='addBoardForm',
  name='addPost',
  class='post-form__form',
  role='form',
  '(ngSubmit)'='onSubmit()',
  '#registerForm'='ngForm'
  )

  //-TODO: remove below
  //-action= actionURL
  //-method='POST'

  fieldset
    div.form__name Post Form
      input(
        name='name',
        type='text',
        class='name',
        id='signupName',
        placeholder='Name',
        required,
        '[(ngModel)]'='model.title'
        )
    //End of entry field

    div.form__username
      input(
        name='username',
        type='text',
        class='username',
        id='signupUsername',
        placeholder='Username',
        required,
        '[(ngModel)]'='model.username'
        )
    //End of entry field

    div.form__email
      input(
        name='email',
        type='email',
        class='email',
        id='signupEmail',
        placeholder='Email Address',
        maxlength='80',
        required,
        '[(ngModel)]'='model.email'
        )
    //End of entry field

    div.form__password
      //label(for='userPassword' class='password__label') Password:
      input(
        name='password',
        type='password',
        class='password',
        id='signupPassword',
        placeholder='Password',
        required,
        '[(ngModel)]'='model.password'
        )
    //End of entry field

    div.form__password
      //label(for='userPasswordAgain' class='password__label') Password again:
      input(
        name='retypedPassword',
        type='password',
        class='password password_again',
        id='signupPasswordAgain',
        placeholder='Retype password',
        '[(ngModel)]'='model.retypedPassword'
        )
    //End of entry field

    div.form__button
      input(
        type='submit',
        name='submit',
        class='button',
        value='Create new account',
        '[disabled]'='!registerForm.form.valid'
        )
